<carousel-component #babyCarousel [mode]="'horizontal'" [timeToSlide]="1000" [autoPlay]="true" [delayAutoPlay]="5000" (onReachEnd)="restart()">
  <div class="item-carousel">
    <div class="description">
      <p>First Ultrasound - "Gummy Bear" Phase!</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/1.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Relay a Tri pregnant? Sure Thing!</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/2.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Starting to show a bump!</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/3.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Anatomy Ultrasound - Handsome Fella!</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/4.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Marg starts "nesting" ;)</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/5.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>The baby's hungry...</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/6.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Cute Maternity Clothes!</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/7.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Dad-In-Training <3</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/8.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Visiting Phipps Conservatory</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/9.jpg'); position: absolute;"></div>
  </div>
  <div class="item-carousel">
    <div class="description">
      <p>Real "nesting" :)</p>
    </div>
    <div style="background-image: url('../../../assets/babySlides/10.jpg'); position: absolute;"></div>
  </div>
</carousel-component>
