<div class="mat-elevation-z20 tenPercentMargin oceanBoatBlue">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px"
    class="babyNav">
    <div fxFlex="33%">
        <button mat-button routerLink='welcome'>Welcome</button>
    </div>
    <div fxFlex="33%">
        <button mat-button routerLink='shower'>Baby Shower</button>
    </div>
    <div fxFlex="33%">
        <button mat-button routerLink='registry'>Registry</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</div>
