.tenPercentMargin {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    color: black;
}

.babyNav {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.mat-button {
    width: 100%;
}

