<div class="mat-elevation-z20 tenPercentMargin">
  <div class="divWrapper center">
    <h1>It's a boy!</h1>
  </div>
  <div class="divWrapper">
    <app-countdown></app-countdown>
  </div>
  <div class="mat-elevation-z10 divWrapper lightSteelBlue">
    <h1>Welcome!</h1>
    <p>Thanks for visiting our Baby website!</p>
    <p>We’ve created this site as a way to share our excitement as we prepare to welcome our first son (“Little Ripoli”)
      and to clue everyone in about baby shower and registry information. Take a look around and please feel free to reach
      out to us if you have any questions!!
      <p>Love,<br/> N&M
      </p>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" >
    <div class="mat-elevation-z10 divWrapper lightSteelBlue" fxFlex="grow" fxLayoutAlign="start stretch">
      <h1>FAQs</h1>
      <mat-list>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
      </mat-list>
    </div>
    <div class="mat-elevation-z10 divWrapper lightSteelBlue">
      <h1>Baby Announcement Mailing List</h1>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPcvAJUr_z8AezyUARwuldW0MljDM9EQxSfsYb-gPuqjnjQA/viewform?usp=pp_url">GO!</a>
    </div>
  </div>
  <div class="mat-elevation-z10 divWrapper lightSteelBlue" style="height: 400px;">
    The Timeline (Rotating Slide Show)
  </div>
</div>
