<div class="pageInsetWrapper">
  <div>
    <h1>General Information</h1>
    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter
      crow\'s nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black
      jack gangway rutters. </p>
  </div>
  <div>
    <h1>Items not on a Registry</h1>
    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter
      crow\'s nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black
      jack gangway rutters. </p>
  </div>
  <div>
    <h1>Amazon</h1>
    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter
      crow\'s nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black
      jack gangway rutters. </p>
  </div>
</div>
