<div class="pageWrapper">
    <div class="mat-elevation-z10 babyCards">
    <h1 class="center">General Information</h1>
    <h3 class="center">Thanks for visiting our registry page! We are so thankful to the numerous family members and friends who have already been asking what they can do to help us prepare for our little one - your love and support has been overwhelming! </h3>
    <p class="center">For those who are interested in purchasing a gift for us we've created this registry page. Here you'll find a link to our Amazon registry, plus some information on what we're not registering for but would love to have. </p>
    <h3 class="center">A Note About Theme</h3>
      <p class="center">A few people have asked us whether or not we have a nursery theme - the answer is, not really. We ask that you keep in mind we are having a boy, but otherwise we trust your taste - so have fun!!</p>
  </div>
  <div class="mat-elevation-z10 babyCards">
    <h1 class="center">What is on Our Registry</h1>
    <p>WHAT OUR REGISTRY DOES HAVE: </p>
    <p class="indent">Our registry contains many of the big ticket items and smaller items which have been recommended or we've read reviews on and chosen according to our lifestyle and parenting plans. If something is on our registry it probably means we've put thought into that particular item.</p>
    <p>WHAT OUR REGISTRY DOES NOT HAVE:</p>
    <ul>
      <li><span class="underline">Diapers</span>: We have not put diapers on our registry but this is a must have item! We could not receive too many diapers so we didn't think it was appropriate to put this item on a list which would be marked as "fulfilled" at any point. What we do ask you to keep in mind is that our son will grow quickly - A variety of sizes is appreciated!</li>
      <li><span class="underline">Wipes</span>: Much like diapers we didn't think it was right to have wipes on a list where it would be marked as "fulfilled" but we'll certainly need them!</li>
      <li><span class="underline">Clothing</span>: We have added a few particular clothing items to our registry that we wanted - otherwise, we have no specific taste or style (besides gender appropriate). As with the diapers we would love a range of sizes. Hand-Me-Downs: We are thankful for any generosity - not everything has to be new! If you want to gift us some used clothing items that are still in good condition we will gladly accept.</li>
    </ul>
  </div>
  <div class="mat-elevation-z10 babyCards">
    <h1 class="center">Amazon</h1>
    <p class="center">Below you'll find a link to our Amazon registry, thanks for checking it out!</p>
    <a href="https://www.amazon.com/baby-reg/nate-ripoli-margaret-ripoli-january-2019-westlake/3P6K3EFNYV93Z">Ripoli Baby Registry!</a>

  </div>
</div>
