<div class="pageWrapper">
  <div class="mat-elevation-z10 babyCards">
    <h1 class="center">Books Rather Than Cards</h1>
    <h4 class="center">We've heard so many great shower ideas over the past few months and, while we can't use them
      all, we loved this one:</h4>
    <p class="center">We want to build up a great kids library at home! We would love it if our friends and family gave a favorite
      kids book and, in lieu of buying a card, wrote a little message inside the front cover! Books can be new or
      lovingly used.</p>
    <p class="center">In order to help eliminate duplicate books, we've created a spreadsheet where you can see what books we already
      have. Once you have a book in mind, please use the "Add A Book" button to add it to our list!</p>
    <button mat-raised-button style="margin-right: 20px" routerLink="/baby/books">See Books We Already Have</button>
    <button mat-raised-button ngClass.lt-sm="tenPxTopMargin" (click)="openBookDialog()">Add A Book</button>
  </div>
  <div class="mat-elevation-z10 babyCards">
    <h1 class="center">Shower Locations</h1>
    <mat-expansion-panel *ngFor="let s of mockShowers">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{s.title}}
        </mat-panel-title>
        <mat-panel-description>
          <span>{{s.date}}, {{s.time}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayout.lt-md="column">
        <div style="min-width: 250px">
          {{s.host.firstName}} {{s.host.lastName}}<br /> {{s.host.contact}} <br /> {{s.host.address.street1}} <br /> {{s.host.address.city}},
        {{s.host.address.state}} {{s.host.address.zip}}

      </div>
        <div>
          {{s.content}}
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
