<div class="pageWrapper handlee">
  <div class="babyCards black">
    <div class="center">
      <h3 class="center">Locations and Information</h3>
      <button mat-raised-button class="twentyFivePxMargin" (click)="showRSVPDialog()">RSVP here!</button>
    </div>
    <mat-expansion-panel *ngFor="let s of mockShowers" class="handlee tenPxMargin">
      <mat-expansion-panel-header>
        <mat-panel-title class="handlee">
          {{s.title}}
        </mat-panel-title>
        <mat-panel-description>
          <span>{{s.date}}, {{s.time}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayout.lt-md="column">
        <div style="min-width: 250px">
          Host: {{s.host.firstName}} {{s.host.lastName}}
          </div>
        <div ngStyle.lt-sm="margin-top: 10px;">
          {{s.content}}
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="mat-elevation-z10 babyCards scheme2a handlee">
    <h1 class="center">Books Rather Than Cards</h1>
    <h4 class="center">We've heard so many great shower ideas over the past few months and, while we can't use them
      all, we loved this one:</h4>
    <p class="center nunito">We want to build up a great kids library at home! We would love if our friends and family,
      in lieu of buying a card, gave a favorite kids book and wrote a little message inside the front cover! Books could
       be new or lovingly used.</p>
    <p class="center nunito">In order to help eliminate duplicate books, we've created a spreadsheet where you can see
      what books we already have. Once you have a book to bring in mind, please use the "Add A Book" button to add it to the
       list!</p>
    <div class="center twentyFivePxMargin">
      <button mat-raised-button style="margin-right: 20px" routerLink="/baby/books">See Books We Already Have</button>
      <button mat-raised-button ngClass.lt-sm="tenPxTopMargin" (click)="openBookDialog()">Add A Book</button>
    </div>
  </div>
</div>
