.mat-sidenav {
    min-width: 150px;
    color: blue;
}

.mat-list {
    background-color: #e6e4e4;
}

.mat-list-item {
    width: 100%;
}

.mat-list-item button {
    width: 100%;
    text-align: left;
}
