<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" >
    <mat-list *ngFor="let tile of menuTiles">
      <mat-list-item (click)='onMenuClick(tile)'>
        <button mat-button color="accent">
          <mat-icon color="accent">{{tile.avatar}}</mat-icon>{{tile.title}}</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>
        <button id="menuButton" mat-button (click)="toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <span class="pageTitle">
      Home
    </span>
      <span class="fill-remaining-space"></span>
      <span>
        <img id="logo" #logo src="../../assets/logo3.png" />
      </span>
    </mat-toolbar>
    <!-- todo: inject featured tiles here -->
  </mat-sidenav-content>
</mat-sidenav-container>
