.mat-sidenav {
    min-width: 150px;
    height: 100%;
}

.mat-sidenav-content {
    display: block;
    height: 100vh;
}

.mat-list-item {
    width: 100%;
}

.mat-list-item button {
    width: 100%;
    text-align: left;
}

.mat-toolbar img {
    height: 64px;
    width: 64px;
    padding-top: 8px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}


