.black {
    color: black !important;
}

.paleCornflowerBlue {
    background-color: #A6CDF0;
}

.azureishWhite {
    background-color: #CFDFF7;
}

.ghostWhite {
    background-color: #F9F6FF;
}

.champagne {
    background-color: #F3E5D2;
}

.oceanBoatBlue {
    background-color: #0276c0;
}

.richElectricBlue {
    background-color: #00a8d4;
}

.batteryChargedBlue {
    background-color: #15b8db;
}

.classicRose {
    background-color: #edd3ea;
}

.baby-background {
    background-color: #6CBAA0;
}

.baby-green {
    background-color: #BDD5B1;
}

.baby-orange {
    background-color: #E8B796;
    color: black !important;
}

.baby-yellow {
    background-color: #FFE5AA;
    color: black !important;
}

.scheme1a {
    background-color: #E8D0A9;
}

.scheme1b {
    background-color: #B7AFA3;
    color: black;
}

.scheme1c {
    background-color: #C1DAD6;
    color: black;
}

.scheme1d {
    background-color: #F5FAFA;
    color: black;
}

.scheme1e {
    background-color: #ACD1E9;
    color: black;
}

.scheme1f {
    background-color: #6D929B;
}

.scheme2a {
    background-color: #9fbeb2;
    color: black;
}
