@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: darkslategrey;
}

.app-root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.pageTitle {
    margin-left: 5px;
}

.center {
    text-align: center
}

.indent {
    margin-left: 40px;
}

.babyCards {
    color: white;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.pageWrapper {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}
