/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
    margin: 0;
    padding: 0;
}

.app-root {
    display: block;
    height: 100%;
}

.pageTitle {
    margin-left: 5px;
}


.pageInsetWrapper {
    margin: 0px 20px;
    padding: 5px 10px;
}

.paleCornflowerBlue {
    background-color: #A6CDF0;
}

.azureishWhite {
    background-color: #CFDFF7;
}

.ghostWhite {
    background-color: #F9F6FF;
}

.champagne {
    background-color: #F3E5D2;
}

.oceanBoatBlue {
    background-color: #0276c0;
}

.richElectricBlue {
    background-color: #00a8d4;
}

.batteryChargedBlue {
    background-color: #15b8db;
}

.classicRose {
    background-color: #edd3ea;
}
